<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    
    <div>Your message has been sent!</div>
    <a color="black"href="/">GO HOME</a>


  </body>
</html>
