<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title></title>
    
  </head>
  <body>

    <nav>
      <h1>Alfredo Gonzalez</h1>
      <h2>Developer</h2>
    
    </nav>

    <div id= "container" >
      <div id="about">
        <h1>Developer ready for new challenges.</h3>
        <p>Always ready for something, weather its languages or frameworks, I am willing try and learn new things</p>
        <p>I am always learning new languages, currently I have been working on node.js and npm's</p>
          



        </article>
      </div>

      <div id="tools">
        <div id="row">

          <div class="col">
            <div class="box">
              <h3>front-end</h3>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
              </ul>
            </div>
          </div>

          <div class="col">
            <div class="box">
              <h3>languages</h3>
              <ul>
                <li>Node.js</li>
                <li>C++</li>
              </ul>
            </div>

          </div>
          <div class="col">
            <div class="box">
              <h3>tools</h3>
              <ul>
                <li>Express(npm)</li>
                <li>Discord.js(npm)</li>
                <li>Aws(Amazon web service)</li>
              </ul>
            </div>

          </div>


        </div>
      </div>

      <div id="projects">
        <ul>
          <li>
            <h2>Day dreamz beats</h2>
            <span class="description" >A website built on node.js with paypal purchase option</span>
            <a class="web" href="/beats">Website</a>
            <a class="github" href="https://github.com/alfredogg117/beats">github</a>
          </li>
          <li>
              <h2>Poker</h2>
              <span class="description">Play against bots in a poker game</span>
              <a class="web" href="/poker">Website</a>
              <a class="github" href="https://github.com/alfredogg117/Poker">github</a>
            </li>
            <li>
                <h2>Portfolio(this website)</h2>
                <span class="description">This website was built on Node.js. Discord bot sends me your contact message</span>
                <a class="web" href="/">Website</a>
                <a class="github" href="https://github.com/alfredogg117/portfolio">github</a>
              </li>
        </ul>

      </div>

      <div id="formStyle">
        <div>
          <h2>Contact me</h2>
        </div>
        <form id="formStyle"action="/contact" method="POST" >
        <label for="email">Enter your email</label>
        <input type="email" name="userEmail">
        <label for="message">Enter your message</label>
        <input type="text" name="message">
        <input type="submit" value="submit">
        </form>
      </div>







    </div>




  </body>
</html>
