*{
  margin: 0px;
  padding: 0px;

}


body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: gray;
}

#formStyle{
  border:solid black 2px;
  margin-top:20px;
  margin-bottom:100px;
  padding-left:20px;
  padding-right:20px;
  background-color: blanchedalmond;
}

nav{
  padding-top:15px;
  padding-bottom:15px;
  padding-left:15px;

  width:100%;
  height: 60px;
  position: relative;



}



nav ul{

  position: absolute;
  float:right;
}
h3{

  text-decoration-line: underline ;
  text-decoration-style: solid;
}

.navLinks{
float:right;

justify-content: flex-end;
display:flex;
}

nav{
  background-color: blanchedalmond;
}

.box{
  margin:0px 10px 0px 10px;
  text-align:center;
  padding-top: 10px;
  border:solid black 4px;
  height: 200px;
  width:200px;
  background-color: blanchedalmond;

}

#row{
  display:flex;
  flex-wrap:nowrap;
  justify-content: center;


}

#tools{

  padding:10px;
  
}

#container{
  width:1000px;
  
  margin:auto;
}

.box li{
  padding-top:10px;
  list-style: none;
}


#projects span{
  display:flex;
  
}

#projects li{
  border:solid black 2px;
  margin-top:20px;
  padding-left:20px;
  padding-right:20px;
}

.web{
  padding-top:5px;
  padding-bottom:5px;

 margin-top: 15px;
background-color: blanchedalmond;
}
.web:hover{
  background-color: green;
}
a {
  display: block;
}

a:link {
  text-decoration: none;
}
.github{
  padding-top:5px;
  padding-bottom:5px;
  margin-top: 15px;
  margin-bottom:15px;
  background-color: blanchedalmond;
}

li{
  list-style: none;
}

#about{
  margin-top:10px;
  border:solid black 2px;
  background-color: blanchedalmond;
  padding-left:5px;
}
p{
  padding-left:15px;
  padding-top:15px;
  padding-bottom:5px;
}

#formStyle h2{
  margin-top:8px;
  text-align: center;
}